---
artifactory:
  containerSecurityContext:
    enabled: false
  podSecurityContext:
    enabled: false
  artifactory:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    # Configure the init containers resources as the chart expects
    initContainers:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi

  nginx:
    enabled: false
    containerSecurityContext:
      enabled: false
    podSecurityContext:
      enabled: false

  postgresql:
    enabled: true
    auth:
      password: "a-strong-password"
    primary:
      podSecurityContext:
        enabled: false
      securityContext:
        enabled: false
      containerSecurityContext:
        enabled: false

  ingress:
    enabled: true
    main:
      enabled: true
      annotations:
        route.openshift.io/termination: edge
        route.openshift.io/insecure-policy: Redirect
    docker:
      enabled: true
      annotations:
        route.openshift.io/termination: passthrough
        route.openshift.io/insecure-policy: Redirect

