---
artifactory:
  containerSecurityContext:
    enabled: false
  artifactory:
    podSecurityContext:
      enabled: false
    #   image:
    #     repository: releases-docker.jfrog.io/jfrog/artifactory-jcr
    #     version: 7.71.5
  nginx:
    enabled: false
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false

  postgresql:
    enabled: true
    auth:
      password: "a-strong-password"
    primary:
      podSecurityContext:
        enabled: false
      securityContext:
        enabled: false
      containerSecurityContext:
        enabled: false

  # Configure the init containers resources as the chart expects
  initContainers:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

