---
artifactory:
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false

  artifactory:
    persistence:
      enabled: true  # Ensure persistence is enabled (it is by default)
      existingClaim: "artifactory-volume-jfrog-container-registry-artifactory-0"
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    initContainers:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi

  nginx:
    enabled: false
    containerSecurityContext:
      enabled: false
    podSecurityContext:
      enabled: false

  postgresql:
    enabled: true
    auth:
      password: "a-strong-password"
    primary:
      persistence:
        enabled: true
        existingClaim: "data-jfrog-container-registry-postgresql-0"
      podSecurityContext:
        enabled: false
      securityContext:
        enabled: false
      containerSecurityContext:
        enabled: false

