---
artifactory:
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false

  artifactory:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    initContainers:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi
    customInitContainers: |
      - name: setup-artifactory
        image: "alpine/curl:3.14"
        command: ["/bin/sh", "-c", "/scripts/setup.sh"]
        volumeMounts:
          - name: setup-script
            mountPath: /scripts
          - name: admin-creds
            mountPath: /etc/artifactory-creds
    customVolumes: |
      - name: setup-script
        configMap:
          name: artifactory-setup-script
          defaultMode: 0755
      - name: admin-creds
        secret:
          secretName: artifactory-admin-creds

  nginx:
    enabled: false
    containerSecurityContext:
      enabled: false
    podSecurityContext:
      enabled: false

  postgresql:
    enabled: true
    auth:
      password: "a-strong-password"
    primary:
      podSecurityContext:
        enabled: false
      securityContext:
        enabled: false
      containerSecurityContext:
        enabled: false

