---
artifactory:
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false

  artifactory:
    persistence:
      enabled: true  # Ensure persistence is enabled (it is by default)
      size: 500Gi
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    initContainers:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi

  nginx:
    enabled: false
    containerSecurityContext:
      enabled: false
    podSecurityContext:
      enabled: false

  postgresql:
    enabled: true
    persistence:
      enabled: true
      size: 200Gi
    auth:
      password: "a-strong-password"
    primary:
      podSecurityContext:
        enabled: false
      securityContext:
        enabled: false
      containerSecurityContext:
        enabled: false

