apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
configMapGenerator:
  - name: tpa-values-source
    namespace: tssc-tpa
    literals:
      - APP_DOMAIN_URL=-tssc-tpa.apps.cluster-58rvv.58rvv.sandbox2662.opentlc.com
      - OIDC_ISSUER_URL=https://sso.apps.cluster-58rvv.58rvv.sandbox2662.opentlc.com/realms/chicken
      - KEYCLOAK_HOSTNAME=sso.apps.cluster-58rvv.58rvv.sandbox2662.opentlc.com
      - REDIRECT_URI1=https://server-tssc-tpa.apps.cluster-58rvv.58rvv.sandbox2662.opentlc.com
      - REDIRECT_URI2=https://server-tssc-tpa.apps.cluster-58rvv.58rvv.sandbox2662.opentlc.com/*
      - REDIRECT_URI3=https://sbom-tssc-tpa.apps.cluster-58rvv.58rvv.sandbox2662.opentlc.com
      - REDIRECT_URI4=https://sbom-tssc-tpa.apps.cluster-58rvv.58rvv.sandbox2662.opentlc.com/*
      - SEED_STRING=dIPPCtof6FO37GKg
resources:
  - namespaces.yaml
  - subscription.yaml
  - infrastructure.yaml
  - keycloak-instance.yaml
  - realm.yaml
  - tpa-release.yaml
replacements:
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.KEYCLOAK_HOSTNAME
    targets:
      - select:
          kind: Route
          name: keycloak
        fieldPaths:
          - spec.host
      - select:
          kind: Keycloak
          name: keycloak
        fieldPaths:
          - spec.hostname.hostname
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.REDIRECT_URI1
    targets:
      - select:
          kind: KeycloakRealmImport
          name: keycloak-chicken
        fieldPaths:
          - spec.realm.clients.4.redirectUris.1
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.REDIRECT_URI2
    targets:
      - select:
          kind: KeycloakRealmImport
          name: keycloak-chicken
        fieldPaths:
          - spec.realm.clients.4.redirectUris.2
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.REDIRECT_URI3
    targets:
      - select:
          kind: KeycloakRealmImport
          name: keycloak-chicken
        fieldPaths:
          - spec.realm.clients.4.redirectUris.3
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.REDIRECT_URI4
    targets:
      - select:
          kind: KeycloakRealmImport
          name: keycloak-chicken
        fieldPaths:
          - spec.realm.clients.4.redirectUris.4
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.SEED_STRING
    targets:
      - select:
          kind: KeycloakRealmImport
          name: keycloak-chicken
        fieldPaths:
          - spec.realm.users.0.credentials.0.value
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.APP_DOMAIN_URL
    targets:
      - select:
          kind: Application
          name: trusted-profile-analyzer
        fieldPaths:
          - spec.source.helm.parameters.0.value
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.OIDC_ISSUER_URL
    targets:
      - select:
          kind: Application
          name: trusted-profile-analyzer
        fieldPaths:
          - spec.source.helm.parameters.1.value
