apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
configMapGenerator:
  - name: tpa-values-source
    namespace: tssc-tpa
    literals:
      - APP_DOMAIN_URL=placeholder-app-domain-url.com
      - OIDC_ISSUER_URL=placeholder-oidc-issuer-url.com
      - KEYCLOAK_HOSTNAME=placeholder-initial-host.com
      - TMP_STRING=placeholder
resources:
  - namespaces.yaml
  - subscription.yaml
  - infrastructure.yaml
  - keycloak-instance.yaml
  - realm.yaml
  - tpa-release.yaml
replacements:
  # ------------------------------------------------------------------
  # REPLACEMENT 1: Inject Static Hostname into the Keycloak Route
  # ------------------------------------------------------------------
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.KEYCLOAK_HOSTNAME
    targets:
      - select:
          kind: Route
          name: keycloak
        fieldPaths:
          - spec.host
      - select:
          kind: Keycloak
          name: keycloak
        fieldPaths:
          - spec.hostname.hostname
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.TMP_STRING
    targets:
      - select:
          kind: KeycloakRealmImport
          name: keycloak-chicken
        fieldPaths:
          - spec.realm.users[0].credentials[0].value
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.APP_DOMAIN_URL
    targets:
      - select:
          kind: Application
          name: trusted-profile-analyzer
        fieldPaths:
          - spec.source.helm.parameters.0.value
  - source:
      kind: ConfigMap
      name: tpa-values-source
      fieldPath: data.OIDC_ISSUER_URL
    targets:
      - select:
          kind: Application
          name: trusted-profile-analyzer
        fieldPaths:
          - spec.source.helm.parameters.1.value
