apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
vars:
  - name: KEYCLOAK_HOSTNAME
    objref:
      kind: Route
      name: keycloak
      apiVersion: route.openshift.io/v1
  - name: SEED_STRING 
    objref:
      kind: KeycloakRealmImport
      name: keycloak-chicken
      apiVersion: k8s.keycloak.org/v2alpha1
  - name: APP_DOMAIN_URL
    objref:
      kind: Application
      name: trusted-profile-analyzer
      apiVersion: argoproj.io/v1alpha1
  - name: OIDC_ISSUER_URL
    objref:
      kind: Application
      name: trusted-profile-analyzer
      apiVersion: argoproj.io/v1alpha1
resources:
  - namespaces.yaml
  - subscription.yaml
  - infrastructure.yaml
  - keycloak-instance.yaml
  - realm.yaml
  - tpa-release.yaml

