apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
vars:
  - name: KEYCLOAK_HOSTNAME
  - name: SEED_STRING 
  - name: APP_DOMAIN_URL
  - name: OIDC_ISSUER_URL
resources:
  - namespaces.yaml
  - subscription.yaml
  - infrastructure.yaml
  - keycloak-instance.yaml
  - realm.yaml
  - tpa-release.yaml

